<template>
  <div class="banner container">
    <div class="banner-container">
      <div class="banner-overlay"></div>
      <img src="../assets/img/UNC_logo_white.png" class="unc-logo" />
    </div>

    <div class="row">
      <div class="offset-8 col-md-4">
        <div class="application">
          <div class="department">
            ITS Workgroup Services
          </div>
          <div class="app-name">
            Self Service
          </div>
          <div class="features">
            Active Directory,Exchange,Heelmail,Listserv,MassMail
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
